body {
  background-color: #121212;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navBar {
  background-color: #1e1e1e;
  color: rgb(205, 169, 133);
  float: left;
  margin: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 1rem 1rem black;
}

#nameWordArt {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}

#profilePic {
  border-radius: 50%;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.navBarButton {
  background-color: #1e1e1e;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin: auto;
  border: thick;
  border-radius: 10px;
  text-align: center;
  color: #CDA985;
  font-size: 165%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navBarButton:hover {
  outline: solid;
}

#mainBodyContent {
  float: left;
  background-color: #1e1e1e;
  width: 70%;
  margin: 2%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 1rem 1rem black;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#navBarHamburger {
  display: none;
}

#floatingNavBarPlaceholder {
  display: none;
}

@media screen and (max-width: 1200px) {
  #mainBodyContent {
    flex-direction: column;
    width: 98%;
    float: right;
    margin: 2%;
  }

  #navBar {
    top: -100px;
    transition: top 0.5s ease-in-out;
    display: block;
    width: 95%;
    float: left;
    margin: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;
  }

  #navBar.sticky {
    position: fixed;
    top: 0;
  }

  #floatingNavBarPlaceholder.show {
    display:inline-block;
  }

  #navBarButtonHolder {
    display: none;
  }

  #nameWordArt {
    width: 50vw;
  }

  #profilePic {
    margin: 3vw;
    width: 10vw;
  }

  #navBarHamburger {
    display: unset;
    margin: 3vw;
    width: 10vw;
  }

  .navBarButtonSmall {
    background-color: #1e1e1e;
    cursor: pointer;
  padding: 10px;
  width: 100%;
  margin: auto;
  border: thick;
  border-radius: 10px;
  text-align: center;
  color: #CDA985;
  font-size: 165%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .navBarButtonSmall:hover {
    outline: solid;
  }


  /* #navBarButtonHolder {
    display: flex;
    justify-content: space-evenly;
  } */

  /* .navBarButton {
    width: 22%;
    margin: 1%;
    font-size: 2.5vw;
  } */

}


.apiMessage {
  text-align: center;
}


a {
  color: #CDA985;
}
/*  
.projectSpotlight-Project {
  outline: solid #7180AC;
  color: #CDA985;
  float: left;
  width: 95%;
  margin: 1%;
  padding: 10px;
  border-radius: 20px;
}

.projectSpotlight-Project img {
  border-radius: 20px;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}


 */