#bodyRenderer {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

#navBar {
  color: #CDA985;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  #bodyRenderer {
    display: unset;
    justify-content: unset;
    gap: unset;
  }

  #navBar {
  
  }

}