#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#bodyRenderer {
  display: flex;
  /* border-color: pink;
  border-style: dashed; */
  border-radius: 20rem;
  height: 97vh;
  width: 100%
}

#headerContent {
  flex: 30%;
  padding: 2rem;
  display: block;
  position: sticky;
  top: 0;
}

#navBar {
  color: #CDA985;
  display: flex;
  flex-direction: column;
  /* border-style: dashed;
  border-color: red; */
}

#navBarHamburger {
  display: none;
}

#navBarPhotoNameWordArt {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

#navBarPhotoProfilePic {
  border-radius: 50%;
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

#floatingNavBarPlaceholder {
  display: none;
}

.navBarButton {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 150%;
  background-color: unset;

}

.navBarButton:hover {
  color: #CDA985;
}


#mainBodyContent {
  flex: 70%;
  /* border-style: dashed; */
  /* border-color: green; */
}


#navBarExternalLinks {
  display: flex;
  justify-content: space-evenly;
}

.navBarExternalLinksButton:hover {
  cursor: pointer;
  color: #CDA985;
}

#navBarExternalLinksHolder {
  /* border-style: dashed;
  border-color: red; */
}

#headerItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 30vh; */
  /* border-style: dashed;
  border-color: purple; */
  height: 100%;
}

#contactForm {
  display: flex;
  flex-direction: column;
  padding: 5%;

}

#contactForm>textarea {
  resize: vertical;
  font: unset;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px
}

#contactFormDetails {
  display: flex;
  justify-content: space-between;
}

#contactFormDetails>input {
  width: 45%;
  font: unset;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1024px) {

  /* Main Body */
  #bodyRenderer {
    display: unset;
    justify-content: unset;
    gap: unset;
    width: unset;
    height: 50px;
  }


  /* NavBar */
  #headerContent {
    flex: unset;
    display: unset;
    position: unset;
    top: unset;
    height: unset;
    border-style: unset;
  }

  #navBar {
    width: unset;
    height: unset;
    margin-top: unset;
    margin-bottom: unset;

    display: flex;
    top: -100px;
    transition: top 0.5s ease-in-out;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;

  }

  #navBar.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1e1e1e;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }

  #navBarHamburger {
    display: unset;
    margin: 3vw;
    width: 10vw;
  }

  #navBarPhotoNameWordArt {
    width: 50vw;
  }

  #navBarPhotoProfilePic {
    margin: 3vw;
    width: 10vw;
  }

  #navBarButtonHolder {
    display: none;
  }

  #floatingNavBarPlaceholder.show {
    display: inline-block;
  }

  #mainBodyContent {
    width: unset;
    height: 100vh;
    overflow-y: unset;
  }

  #navBarExternalLinksHolder {
    display: none;
  }
}

label:hover {
  color: #CDA985;
}

input[type=radio] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

#projectsListControlsButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 70%
}

.projectsListControlsButtonSvg {
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}

.projectsViewerList {
  display: flex;
  flex-direction: column;
}

.projectTileList {
  width: 100%;
  display: flex;
  padding: 1%;
}

.projectTileList:hover {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.projectTileList img {
  flex: 50%;
  width: 50%;
  height: 50%;
  margin: 1%;
}

.projectTileList div {
  flex: 50%;
  width: 100%;
  margin: 1%;
}

.projectTileList .projectTileTitle {
  font-size: larger;
}

.projectsViewerGrid {
  display: flex;
  flex-direction: grid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}

.projectTileGrid {
  /* border-radius: 20px; */
  width: 30%;
  position: relative;
  cursor: pointer;
}

.projectTileGrid img {
  /* border-radius: 20px; */
  width: 100%;
  height: auto;
}

.projectTileGrid div {
  /* border-radius: 20px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 
   85%);
  color: white;
  padding: 10px 0;
}

.projectTileGrid .projectTileTitle {
  padding: 10px
}

.projectTileGrid:hover .projectTileTitle {
  text-shadow: white 1px 0 20px;
}

.projectTileGridModalTitle {
  font-size: larger;
}

.projectTileGridModalImg {
  flex: 50%;
  width: 50%;
  height: 50%;
  margin: 1%;
}

.projectTileGridModalContent {
  flex: 50%;
  width: 100%;
  margin: 1%;
}