#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#headerContent {
  flex: 40%;
  display: block;
  position: sticky;
  top: 0;
  height: 99vh;
  border-style: dashed;
}

#navBar {
  color: #CDA985;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-style: dashed;
  border-color: red;
}

#navBarHamburger {
  display: none;
}

#navBarPhotoNameWordArt {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

#navBarPhotoProfilePic {
  border-radius: 50%;
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

#floatingNavBarPlaceholder {
  display: none;
}

.navBarButton {
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: thick;
  border-radius: 10px;
  text-align: center;
  color: #CDA985;
  font-size: 165%;

  background-color: unset;
}

.navBarButton:hover {
  outline: solid;
}



#mainBodyContent {
  flex: 60%;
  border-style: dashed;
  border-color: green;
}

@media screen and (max-width: 1200px) {

  /* Main Body */
  #bodyRenderer {
    display: unset;
    justify-content: unset;
    gap: unset;
  }


  /* NavBar */
  #headerContent {
    flex: unset;
    display: unset;
    position: unset;
    top: unset;
    height: unset;
    border-style: unset;
  }
  
  #navBar {
    width: unset;
    height: unset;
    margin-top: unset;
    margin-bottom: unset;

    display: flex;
    top: -100px;
    transition: top 0.5s ease-in-out;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;

  }

  #navBar.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1e1e1e;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }

  #navBarHamburger {
    display: unset;
    margin: 3vw;
    width: 10vw;
  }

  #navBarPhotoNameWordArt {
    width: 50vw;
  }

  #navBarPhotoProfilePic {
    margin: 3vw;
    width: 10vw;
  }

  #navBarButtonHolder {
    display: none;
  }

  #floatingNavBarPlaceholder.show {
    display: inline-block;
  }

  #mainBodyContent {
    width: unset;
    height: unset;
    overflow-y: unset;
  }
}